body {
  background-image: url("images/fondo2.png");
  
}

img.x { 
  width: 100%;
  height: auto;
  opacity: 1;
}

div.container {
  position: relative;
}
div.center {
  position: absolute;
  top: 43%;
  left: 2%;
  width: 100%;
  font-size: 86px;
  color: #BD6604;
  text-shadow: 2px 0 4px #FF8700;
  font-family: "Trirong", sans-serif;
  padding: 1px;

}
}

img.jeje{
	margin-left: 25px; 
	
}

ul.menu { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  left:0;
  top: 0;
  width: 100%;
}

li.nu {
  float: left;
   border-right:1px solid #bbb;
}

li.nu a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px white;

}

li.nu a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #DCDBDB;}

.dropdown:hover .dropdown-content {
  display: block;
}

p.a {
  vertical-align: text-top;
}

img.holap{
 display: block;
  margin-left: auto;
  margin-right: auto;
  
}

	h3.trirong {
	font-family: "Trirong", sans-serif;
	font-size: 20px;
	border: 1px solid grey;
	border-radius: 8px;
	padding: 1px;
	text-shadow: 2px 0 3px #F1A148;
	color: #C68338;
}

tr.merc {
	 background-color: #21E1D1;
}
tr.red {
	 background-color: #511BF3;
}
tr.fer {
	 background-color: #E23025;
}
tr.mc {
	 background-color: #E68919;
}
tr.alp {
	 background-color: #19ADE6;
}
tr.alph {
	 background-color: #9EA1A2;
}
tr.ast {
	 background-color: #56955F;
}
tr.will {
	 background-color: #2F5FF9;
}
tr.rome {
	 background-color: #B4453C;
}
tr.haas {
	 background-color: #FFFFFF;
}

div.redes {
	background-color: #333;
	height: 50px;
	padding: 30px;
}

img.axa {
	vertical-align: baseline;
} 
