	body {
  background-image: url("images/fondo2.png");
  
}		



ul.menu { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	left:0;
	top: 0;
	width: 100%;
}

	li.nu {
	float: left;
	border-right:1px solid #bbb;
}

	li.nu a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: 1px white;

}

	li.nu a:hover, .dropdown:hover .dropbtn {
	background-color: grey;
}

	li.dropdown {
	display: inline-block;
}

	.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

	.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

	.dropdown-content a:hover {background-color: #DCDBDB;}

	.dropdown:hover .dropdown-content {
	display: block;
}
	
	h1.trirong {
	font-family: "Trirong", sans-serif;
	font-size: 50px;
	padding: 1px;
	text-shadow: 2px 0 4px #778FBB;
}
	h2.trirong {
	font-family: "Trirong", sans-serif;
	font-size: 20px;
	border: 1px solid grey;
	border-radius: 8px;
	padding: 1px;
	text-shadow: 2px 0 3px #778FBB;
}
	h3 {
	font-size: 15px;
	margin-left: 10px;
	margin-right: 10px;
}
	h4.trirong {
	font-family: "Trirong", sans-serif;
	font-size: 50px;
	padding: 1px;
	text-shadow: 2px 0 4px #A0FAE6;
}
	h5.trirong {
	font-family: "Trirong", sans-serif;
	font-size: 20px;
	border: 1px solid grey;
	border-radius: 8px;
	padding: 1px;
	text-shadow: 2px 0 3px #A0FAE6;
}
	h5.trirong {
	font-family: "Trirong", sans-serif;
	font-size: 20px;
	border: 1px solid grey;
	border-radius: 8px;
	padding: 1px;
	text-shadow: 2px 0 3px #A0FAE6;
}
	a.m1 {
	margin-left: 10px;
	margin-right: 10px;
}
	div.a {
	width: 300px;
	border: 1px solid red;
	padding: 2px;
	margin-left: 124px;
}
	font.rek {
	color: #38386C
}
	font.rik {
	color: #085030
}
	table.zeta {
	border-collapse: collapse;
	width: 100%;
}

	th.ab, td.ab {
	text-align: left;
	padding: 8px;
}

	tr.ab:nth-child(odd)
	{background-color: #FFFFFF;} 

	tr.ab:nth-child(even)
	{background-color: #DCDFB9;}
	
	table.eme {
	border-collapse: collapse;
	width: 100%;
}

	th.ac, td.ac {
	text-align: left;
	padding: 8px;
}

	tr.ac:nth-child(even)
	{background-color: #FFFFFF;} 

	tr.ac:nth-child(odd)
	{background-color: #41EAE3;}
	
	
	
	
	ul.lista {
	background: #778FBB;
	padding: 20px;
}

	ul li.premios {
	background: #DCDFB9;
	margin: 5px;
}

		
	ul.lista2 {
	background: #156D6A;
	padding: 20px;
}

	ul li.premios2 {
	background: #F9FED6;
	margin: 5px;
}
	img.axa {
	vertical-align: baseline;
} 
	img.h:hover {
	opacity: 0.5;
}
