div.titulo {
  top: 43%;
  left: 2%;
  width: 100%;
  font-size: 80px;
}

div.uno{
	text-align:Left;
	vertical-align:top;
}

img.x { 
  width: 100%;
  height: auto;
  opacity: 1;
}

div.fondo-img{
	background-image:url ("images/podio_michael.jpg")
}

ul.menu { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  left:0;
  top: 0;
  width: 100%;
}

li.nu {
  float: left;
   border-right:1px solid #bbb;
}

li.nu a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px white;

}

li.nu a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color:  #DCDBDB;}

.dropdown:hover .dropdown-content {
  display: block;
}

a:hover.links{
color:FE89F0;
}
a.links{
text-decoration: none;
color:red;
}


th.mun, td.mun {
  text-align: left;
  padding: 8px;
}

th.mund, td.mund {
  text-align: left;
  padding: 8px;
  background-color:FF2C2C;
}

table.men {
  border-collapse: collapse;
  width: 100%;
}
th.muna, td.muna {
  text-align: left;
  padding: 8px;
   background-color:FFC4C4;
}

div.titulo{
color: red;
}

h1.titulodos{
color: FF4545;
}
